* {
  box-sizing: border-box;
}
html {
  // 1rem = 16px --- 16 * .625 = 10 --- managing rem on a 10 based scale eg: 2.2rem = 22px
  font-size: 62.5%;
}
body {
  color: $dark-grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $m-size;
  line-height: 1.6;;
}
h1 {
  font-size: 2.2rem;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
.is-active {
  font-weight: bold;
}